body {
    background-color: #E8DAEF;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
}

.fotos {
    display: block;
    text-align: center;
}

.filter-img {
    overflow: hidden;
    padding: 15px;
    width: 28em;
    height: 40em;
}

.text {
    padding-left: 25px;
    font-size: 20px;
}

.card {
    border-radius: 1em;
    text-align: center;
  }

.card:hover {
    background-color: beige;
}

.lot-img {
    display: flex;
}

.bold {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 25px;
}

@keyframes color-change {
    0% {
        color: #00BFFF;
    }

    25% {
        color: blue;
    }

    75% {
        color:#008B8B;  
    }

    100% {
        color:#00BFFF;
    }
}

.magic {
    animation: color-change 5s infinite;
    font-size: 20px;
}
